@model List<Group>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>            
            <th scope="col">Delete Action</th>
            <th scope="col">Update Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            int a = 1;
            <tr>
                <th scope="row">@a.ToString()</th>
                <td>@group.Id</td>
                <td>@group.Name</td>                
                <td>
                    <form asp-route-sId="@group.Id" asp-controller="Group" asp-action="Delete" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td><a asp-controller="Group" asp-action="Update" asp-route-sId="@group.Id"><button>Update</button></a></td>
            </tr>
        }
    </tbody>
</table>

